* {
    margin: 0;
    padding: 0;
}

.tabs-content {
    width: 80%;
    border-radius: 8px;
    margin: 1em auto;
    padding: 1em;
    padding-left: 1.5em;
    box-shadow: 0 0 0.5em rgba(35, 32, 29, 0.6);
    background-color: rgba(147, 115, 65, 0.6);
    color: #23201D;
}
